@font-face {
    font-family: 'Recoleta';
    src: url('../Fonts/Recoleta-Regular.woff2') format('woff2'),
    url('../Fonts/Recoleta-Regular.woff') format('woff'),
    url('../Fonts/Recoleta-Regular.ttf') format('truetype');
}

body {
    font-family: 'rec', monospace;
    font-size: 18px;
    font-weight: bold;
}

hr.menu-bottom{
    border: 1px solid #f04873;
   
}

header {
    display: grid;
    grid-template-columns: 25% 65% 10%;
    grid-template-rows: 4em;
    align-items: center;
    line-height: 70px;
    margin-bottom: 1px;

}

.kutu1 {
    height: 100%;
    width: 100%;

}

.kutu1 img {
    width: 50%;
    height: 100%;

}

.kutu2 {
    width: 100%;
    height: 100%;

}

.kutu2 > ul {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;

}

.kutu2 > ul > li {
    text-align: center;

}
.kutu2 ul li a:hover {
    color: #f04873;
    transition: ease-in-out .5s
}


.kutu2 ul li a {
       position: relative;
    text-decoration: none;
    padding-bottom: 26px;
    color: #000;
    transition: ease .5s;
}

.kutu2>ul>li>a::before{
    content: '';
    position: absolute;
    height: 2px;
    left: 0;
    bottom: 0;
    width: 0;
    background: #f04873;
    transition: width .5s ease-in-out;
}

.kutu2>ul>li>a:hover:before{
    width: 100%;
    
}

.col-1 {
    padding-top: 5%;
    padding-left: 2%;
}

.col-1 > ul > li {
    padding: 5px;
}

.kutu2 > ul > li > a:hover + .mega-menu, .mega-menu:hover {
    display: grid;
    z-index: 9999;
    /*border: solid 1px #f04873;*/
    

}

.mega-menu {
    margin-top: 1px;
    background: white;
    position: absolute;
    left: 0;
    right: 0;
    height: auto;
    display: none;
    grid-template-columns: 60% 40%;
    align-items:flex-start;
    padding: 30px 0 30px 0;


}

.col-1{

    margin-left: 20px;
}
.col-1 > ul {
    list-style: disc;
    text-align: left;

}

.col-1 > ul > li > a:hover {
    text-decoration: underline;
    text-decoration-color: #f04873;
}

.stander {
    display: grid;
    grid-template-columns:auto auto auto;
    font-size: 16px;
    line-height: 20px;

}

.col-2 {
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    
}

.col-2 .img-responsive {
    border-radius: 5%;
    width: 250px;
    height: 250px;
    box-shadow: rgb(38, 57, 77) 0 20px 30px -10px;
    border: 4px solid white;
}

.kutu3 {
    width: 100%;
    height: 100%;
}

.main-content {
    position: absolute;
    width: 100%;
    height: 600px;
    background: url("../images/tatiana-balletti-xGw6aeq8KxM-unsplash.jpg") center no-repeat;
    background-size: cover;
    display: flex;
}